body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #003049;
  color: white;
  padding: 1em;
}

nav a {
  color: white;
  margin-right: 1em;
  text-decoration: none;
}

#map {
  height: 80vh;
  width: 100%;
}
